data/*
exp/gopt*
.vscode
data/wav
src/__pycache__
src/models/__pycache__
src/speechocean762
wav_dir/*
wav_dir/test/112020303011_100.wav
!wav_dir/test/
kaldi/.github
kaldi/docker
data_release/*
!data/README.md
data.zip
data_old/*
src/temp/*
models/baseline.py
figure/*
!figure/gopt_poster.png
*.pyc
*.log